<div class="container">
  <div class="container-table" *ngIf="quizzes; else spinner">
    <input
      type="text"
      class="form-control search-bar"
      placeholder="Pesquisar Quiz por nome"
      (input)="search($event)"
    />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="align-middle" *ngFor="let quiz of quizzes">
          <td>{{ quiz.name }}</td>
          <td>
            <div class="btn-group me-2" role="group" aria-label="Second group">
              <button
                type="button"
                class="btn btn-warning bi bi-play-fill"
                (click)="startQuiz(quiz.id)"
              ></button>
              <button
                type="button"
                class="btn btn-secondary bi bi-pencil-square"
                (click)="onEdit(quiz.id)"
              ></button>
              <button
                type="button"
                class="btn btn-danger bi bi-trash"
                (click)="onDelete(quiz.id)"
              ></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Spinner -->
  <ng-template #spinner>
    <div class="spinner-border" role="status"></div>
  </ng-template>
  <div ng-show="!quizzes.length" style="display: none">
    Você ainda não criou nenhum quiz.
  </div>
  <!-- Spinner -->
</div>
<button
  type="button"
  *ngIf="quizzes"
  class="btn btn-dark"
  (click)="openQuizForm()"
>
  Criar Quiz
</button>
